$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$accent-color: #2196f3;
$footer-text-color: rgb(255, 255, 255);
$link-icon-background-color: #f5f4fa;
$icon-fill-color: #afb1b8;
$transition-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
